on:
  workflow_dispatch:
  push:
    branches:
      - gotip
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 12 * * *'
jobs:
  go-tools:
    name: Build Go Tools
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [arm64, amd64]
        os: [linux, darwin]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Init Hermit
        run: ./bin/hermit env --raw >> $GITHUB_ENV
      - name: Build Go
        run: make -C go-tools
      - name: Upload Release
        uses: ncipollo/release-action@v1
        with:
          tag: go-tools
          allowUpdates: true
          artifacts: "gotip/*.tbz"
          token: ${{ secrets.GITHUB_TOKEN }}
