name: Build Go tip
on:
  workflow_dispatch:
  push:
    branches:
      - gotip
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 12 * * *'
jobs:
  gotip:
    name: Build Go Tip
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [arm64, amd64]
        os: [linux, darwin]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Init Hermit
        run: ./bin/hermit env --raw >> $GITHUB_ENV
      - name: Build Go
        run: make GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} -C gotip
      - name: Upload Release
        uses: ncipollo/release-action@v1
        with:
          tag: gotip
          allowUpdates: true
          replacesArtifacts: false
          artifacts: "gotip/go-*.tbz"
          token: ${{ secrets.GITHUB_TOKEN }}
