name: Build gpg
on:
  workflow_dispatch:
jobs:
  gpg:
    name: Build GnuPG
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Init Hermit
        run: ./bin/hermit env --raw >> $GITHUB_ENV
      - name: Build
        run: cd gpg && make
      - name: Upload Release
        uses: ncipollo/release-action@v1
        with:
          tag: gpg
          allowUpdates: true
          replacesArtifacts: false
          artifacts: "gpg/gnupg-*.tar.bz2"
          token: ${{ secrets.GITHUB_TOKEN }}
